{{ define "main" }}
  {{ .Content }}
  {{ if or .Site.Params.postsAtHome true }}
    {{ with .Site.Params.articleListStyle }}
      {{/* provide possibility to set a custom list style */}}
      {{ $list_partial := print "article-list/" . ".html" }}
      {{ if templates.Exists $list_partial }}
        {{ partial $list_partial . }}
      {{ else }}
        {{ warnf "[LAB] List style %s is set, but does not exist." . }}
        {{ end }}
    {{ else }}
        {{ partial "article-list/default.html" . }}
    {{ end }}
  {{ end }}
{{ end }}
