{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <section class="metadata">
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> | <wordcount> {{ .WordCount }} Words </wordcount>
    </section>
    {{/* whether to display TOC according to article, inspired from https://github.com/nunocoracao/blowfish/blob/96a116a8b0354fc1042c968608a5c1f3001bcbef/layouts/_default/single.html#L66 */}}
    {{ if in .TableOfContents "<ul" }}
    <details class="toc">
      <summary> Table of Contents </summary>
        {{ .TableOfContents }}
    </details>
    {{ end }}
    <section class="content" id="content">
      {{ .Content }}
    </section>
  </article>
  {{ if .Params.comments | default (.Site.Params.article.showComments | default false) }}
    {{ if templates.Exists "partials/comments.html" }}
      <section class="comments">
        <hr/>
        {{ partial "comments.html" . }}
      </section>
    {{ else }}
      {{ warnf "[LAB] Comments are enabled for %s but no comments partial exists." .File.Path }}
    {{ end }}
  {{ end }}
{{ end }}
