{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <section class="metadata">
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> | <wordcount> {{ .WordCount }} Words </wordcount>
    </section>
    <section class="content" id="content">
      {{ .Content }}
    </section>
  </article>
  {{ if .Params.comments | default (.Site.Params.article.showComments | default false) }}
    {{ if templates.Exists "partials/comments.html" }}
      <section class="comments">
        <hr/>
        {{ partial "comments.html" . }}
      </section>
    {{ else }}
      {{ warnf "[LAB] Comments are enabled for %s but no comments partial exists." .File.Path }}
    {{ end }}
  {{ end }}
{{ end }}
